<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/nav.css" />
  <!-- Link to the compiled CSS file -->
</head>

<body>
  <header>
    <nav>
      <ul>
        <!-- Logo Links to Home Page-->
        <a class="home" href="/">
          <img src="./images/logo.png">
        </a>
        <div class="links">
        <a class="browse" href="/browse">Browse</a>
        <a class="about" href="/about">About</a>
        <a class="help" href="/help">Help</a>
      </div>
        <a class="login" href="/login">Login</a>
        <a class="register" href="/register">Register</a>
        <button> Post Ad </button>
      </ul>
    </nav>
  </header>
</body>

</html>
