<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/nav.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Texturina:opsz,wght@12..72,600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- Link to the compiled CSS file -->
</head>

<body>
  <header>
    <nav>
      <div class="logo">
        <!-- Logo Links to Home Page-->
        <a class="home" href="/">OrchardSquare</a>
      </div>
      <div class="search-and-links">
        <div class="search-bar">
          <!-- search bar HTML goes here -->
          <input type="text" placeholder="Search...">
        </div>
        <div class="links">
          <a class="browse" href="/browse">Browse</a>
          <a class="about" href="/about">About</a>
          <a class="help" href="/help">Help</a>
          <a class="account" href="/account">Account</a>
        </div>
        <div class="vl"></div>

        <div class="login-register">

        <% if (user) { %>
          logged in as: <%= user.username %>
          <form action="/logout" method="POST">
            <button type="submit">Logout</button>
            </form>

        <% } else { %>

          <a class="register" href="/register">Register</a>
          <span class="separator"> or </span>
          <a class="login" href="/login">Sign In</a>
        </div>
        <% } %>

        <div class="post-ad">
          <button>Post Ad</button>
        </div>
      </div>
    </nav>
  </header>
</body>

</html>
