<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<header>
  <%- include('partials/_header') %>
  </header>

  <section>

    <p>Welcome to <strong>Orchard Square</strong> – a vibrant community hub where gifted artisans and crafters come together to showcase their unique talents, offering a delightful array of goods, services, and novel experiences.</p>

        <p>Our platform serves as a digital marketplace that celebrates the artistry and creativity of local talents, providing a space where individuals with a passion for craftsmanship can connect with appreciative buyers and enthusiasts. Whether you're in search of one-of-a-kind handmade treasures, bespoke services, or immersive experiences, you'll find a diverse and curated collection right here.</p>

        <p>At <strong>Orchard Square</strong>, we're not just a

  </section>
<body>

</body>
</html>
