<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/about.css" type="text/css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">

  <title>Document</title>
</head>
<header>
  <%- include('partials/_header') %>
  </header>

  <section>

    <p>Welcome to <strong>Orchard Square</strong> – a vibrant community hub where gifted artisans and crafters come together to showcase their unique talents, offering a delightful array of goods, services, and novel experiences.</p>

        <p>Our platform serves as a digital marketplace that celebrates the artistry and creativity of local talents, providing a space where individuals with a passion for craftsmanship can connect with appreciative buyers and enthusiasts. Whether you're in search of one-of-a-kind handmade treasures, bespoke services, or immersive experiences, you'll find a diverse and curated collection right here.</p>

        <p>At <strong>Orchard Square</strong>, we're not just about the products and services we offer. We're about the people behind them. We're about the stories they tell. We're about the experiences they create. We're about the connections they make. We're about the lives they touch.</p>

  </section>
<body>

</body>
</html>
