<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/account.css" type="text/css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">

  <title>My Account</title>
</head>
<body>
  <%- include('partials/_header') %>
<div class="container">
  <div class="side-panel">
    <ul>
      <li>[Email Address]</li>
      <li>Profile</li>
      <li>Orders</li>
      <li>Selling</li>
      <li>Favourites</li>
      <li>Messages</li>
    </ul>
    <form action=""><button type="submit">Log Out</button></form>
  </div>
  <main class="main-container">
    <div>
      <h1>Profile</h1>
      <span>Personal Information</span>
    </div>
    <div></div>
    <div><span>You do not have any shipping information on file.</span></div>
  </main>
</div>
</body>
</html>
