<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Account</title>
</head>
<body>
  <%- include('partials/_header') %>
<div style="margin-top: 140px; display: flex; flex-direction: row">
  <div class="side-panel">
    <ul>
      <li>[Email Address]</li>
      <li>Profile</li>
      <li>Orders</li>
      <li>Selling</li>
      <li>Favourites</li>
      <li>Messages</li>
    </ul>
    <form action=""><button type="submit">Log Out</button></form>
  </div>
  <main class="main-container">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies ex sed nisl vehicula, et blandit odio sodales. Proin aliquet egestas commodo. Aenean molestie dui vel ante consectetur imperdiet. Aenean ac est fringilla, auctor diam ac, commodo tortor. Proin eget neque nisi. Nullam eleifend pharetra purus eu hendrerit. Nulla aliquam, ipsum in efficitur pharetra, nulla mauris interdum augue, ac pharetra neque nulla quis ipsum. Aliquam a tempus urna. Mauris ornare ultrices tellus id ultrices. Quisque ac nunc in mi luctus gravida non sed dolor. Nulla tincidunt dolor et nisl scelerisque, vel eleifend diam cursus. Nulla nisi lectus, fringilla non erat eget, rutrum euismod neque. Quisque vel pretium mi. Fusce sed justo et sapien lacinia iaculis. Vivamus iaculis mollis nunc a imperdiet. Ut lacus ipsum, viverra vel dignissim in, sagittis eget leo.
  </main>
</div>
</body>
</html>
