<!DOCTYPE html>
<html lang="en">

<head>
  <title>Browse</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/browse.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">



  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<header>
  <%- include('partials/_header') %>
</header>

<body>
  <div class="browse-ad-placeholders-row1">
  <div class="browse-ad1">Ad Placeholder1</div>
  <div class="browse-ad2">Ad Placeholder2</div>
  <div class="browse-ad3">Ad Placeholder3</div>
</div>

  <div class="browse-ad-placeholders-row2">
  <div class="browse-ad4">Ad Placeholder4</div>
  <div class="browse-ad5">Ad Placeholder5</div>
  <div class="browse-ad6">Ad Placeholder6</div>
</div>
</body>

</html>
