<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">



  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<header>
  <%- include('partials/_header') %>
</header>
<body>
  <div class="category-links">
    <a class="cat1" href="/">Art</a>
    <a class="cat2" href="/">Collectables</a>
    <a class="cat3" href="/">Creations</a>
    <a class="cat4" href="/">Fashion</a>
    <a class="cat5" href="/">Food</a>
    <a class="cat6" href="/">Home/Garden</a>
    <a class="cat7" href="/">Pets</a>
    <a class="cat8" href="/">Services</a>
    <a class="cat9" href="/">Wood Working</a>
    <a class="cat10" href="/">Featured</a>
  </div>

  <div class="featured-items">
    <img src="./images/featuredhome.jpg" alt="featuredhome">
  </div>

<div class="recommend-for-you">Recommended For You</div>

  <div class="recommend-ad-placeholders-row1">
  <div class="recommend-ad1">Ad Placeholder1</div>
  <div class="recommend-ad2">Ad Placeholder2</div>
  <div class="recommend-ad3">Ad Placeholder3</div>
</div>

<div class="recommend-ad-placeholders-row2">
  <div class="recommend-ad4">Ad Placeholder4</div>
  <div class="recommend-ad5">Ad Placeholder5</div>
  <div class="recommend-ad6">Ad Placeholder6</div>
</div>

</body>

</html>
