<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>


<!-- App CSS-->
<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
<link rel="stylesheet" href="/vendor/border-box.css" />
<link rel="stylesheet" href="/styles/layout.css" />
<link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/styles/login.css" type="text/css">

</head>

<header>
  <%- include('partials/_header') %>
</header>

<body>
    <main style="margin: 1em;">

      <div class="login-container">
        <form id="login-form" method="POST">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <p>Forgot your Password?</p>
            <button type="submit" id="submit-btn">Login</button>

            <p>By logging in you agree to the Terms of Service and Privacy Policy</p>
            <p>Don't have an account? <a href="/register"> Sign Up Here</a></p>
        </form>
    </div>

      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script src="/scripts/loginForm.js"></script>
</body>
</html>
