<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <body>
    <h1 class=" text-center">Login</h1>
    <p class="text-center">Please log in to access your account.</p>
    <!-- METHOD=VERB; ACTION=PATH -->
    <form method="POST" action="/urls_login">
    <!-- E-mail Form -->
    <div class="d-flex justify-content-center align-items center mb-3">
    <label for="userEmail">Email:</label>
    <input class="form-control" id="userEmail" type="email" name="userEmail" placeholder="Email" autocomplete="on" style="width: 300px; margin: 1em">
    </div>
    <!-- Password Form -->
    <div class="d-flex justify-content-center align-items center mb-3">
    <label for="userPassword">Password:</label>
    <input type="password" id="userPassword" name="userPassword" placeholder="password" autocomplete="on" style="width: 300px; margin: 1em">
    </div>
    <div class="d-flex justify-content-center mb-3">
    <button type="submit" class="btn btn-primary">Click Here to Log In!</button>
    </div>

    <p class="text-center">Don't have an Account? <br> Please register here.</p>
    <a class=" text-center nav-item nav-link" href="/register">Registration Page</a>

    </form>
</body>
</html>
