<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>


<!-- App CSS-->
  <link rel="stylesheet" href="/styles/login.css" type="text/css">

</head>

<header>
  <!-- Not sure what to link here yet for the website header-->
</header>

<body>
    <main style="margin: 1em;">

      <div class="login-container">
        <form id="login-form">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <p>Forgot your Password?</p>
            <button type="button" id="submit-btn">Login In Button</button>

            <p>By logging in you agree to the Terms of Service and Privacy Policy</p>
            <!-- Links not yet applied that Paul added in the Figma-->
            <p>Don't have an account?  Sign Up Here</p>
            <!--Make this a seperate div or footer?-->
        </form>
    </div>

      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script src="script.js"></script>
</body>
</html>
