<!DOCTYPE html>
<!--Please feel free to edit the format, classes, elements and ids as needed-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Page</title>



<!-- App CSS-->
<link rel="stylesheet" href="/styles/register.css" type="text/css">

</head>
<body>
  <header>
    <!-- Not sure what to link here yet for the website header-->
    </header>
  <main style="margin: 1em;">

    <div class="registration-container">
      <form id="registration-form">
          <label for="first-name">First Name:</label>
          <input type="text" id="first-name" name="first-name" required>

          <label for="last-name">Last Name:</label>
          <input type="text" id="last-name" name="last-name" required>

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
          <p>At least 8 characters, 1 uppercase letter, 1 number & 1 symbol</p>
          <button type="button" id="submit-btn">Sign Up Button</button>

          <p>By signing up, you agree you've read and accepted our Terms and Conditions. Please see our Privacy Policy for information on how we process your data.</p>
          <!-- Links not yet applied that Paul added in the Figma-->
          <p>Already have an account? Log In</p>
          <!--Make this a seperate div or footer?-->
      </form>
  </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
