<!DOCTYPE html>
<!--Please feel free to edit the format, classes, elements and ids as needed-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Page</title>
</head>
<body>
  <header>
    <!-- Not sure what to link here yet-->
    </header>
  <main style="margin: 1em;">
    <h3 class="text-center">Register Here</h3>
    <p class=" text-center"> (message to user to contiue their journey with the platform) <br> Please enter your e-mail and password.</p>
    <!-- E-mail Form -->
    <form method="POST" action="/register">
      <div class="d-flex justify-content-center align-items center mb-3">
    <label for="userEmail">Email:</label>
    <input class="form-control" id="userEmail" type="email" name="userEmail" placeholder="Email" autocomplete="on" style="width: 300px; margin: 1em">
    </div>
    <!-- Password Form -->
    <div class="d-flex justify-content-center align-items center mb-3">
    <label for="userPassword">Password:</label>
    <input class="form-control" id="userPassword" type="password" name="userPassword" placeholder="Password" autocomplete="on" style="width: 300px; margin: 1em">
    </div>
    <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary">Register</button>
    </div>
    </form>
</body>
</html>
