nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 120px;
  background-color: #466365;
  background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 24px;
  font-family: 'Chelsea Market', sans-serif;
}

.search-and-links {
  display: flex;
  align-items: center;
}


.search-bar {
  display: flex;
  align-items: center;
  width: 120px;
  margin-left: 70px;
  margin-right: 220px;
}


.home {
  color: #EAF0CE;
  text-decoration: none;
  transition: color 0.3s;
  padding: 10px;
  margin-left: 10px;
  font-size: 35px;
  font-family: 'Texturina', serif;
}

.home:hover {
  color: #62B6CB;
}

div.links a {
  color: #EAF0CE;
  text-decoration: none;
  transition: color 0.3s;
  padding: 10px;
}

.links a:hover {
  color: #62B6CB;
}

.links{
  color: #EAF0CE;
  text-decoration: none;
  transition: color 0.3s;
  margin-left: 10px;
  font-size: 20px;
  padding: 12px;
}

.vl {
  border-left: 1px solid #EAF0CE;
  height: 75px;
  margin-left: 50px;
}

.login-register {
  display: flex;
  align-items: center;
  margin-left: 50px;
  font-size: 20px;
  padding-right: 10px;
}

.login-register a:hover {
  color: #62B6CB;
}

.register,
.login {
  color: #EAF0CE;
  text-decoration: none;
  transition: color 0.3s;
}

.login-register .separator {
  padding: 10px;
  color: #EAF0CE;
  font-size: 15px;
}

button {
  cursor: pointer;
  margin-left: 30px;
}


