nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 120px;
  background-color: #466365;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

/* Style each navigation element */
.nav > div {
  display: flex;
  align-items: center;
}

.search-and-links {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: 600px;
  width: 120px;
}


img {
  width: 110px;
  height: 65px;
  margin-right: 10px;
  margin-left: 10px;
}

div.links a {
  color: #EAF0CE;
  text-decoration: none;
  transition: color 0.3s;
}

.links a:hover {
  color: #62B6CB;
}

.login-register {
  display: flex;
  align-items: center;
}

.register,
.login {
  color: #EAF0CE;
  text-decoration: none;
  transition: color 0.3s;
  margin-left: 10px; /* Add spacing between links */
}

.login-register .separator {
  margin: 0 10px;
  color: #EAF0CE;
}
